html, body {
  margin: 0;
  padding: 0;
  min-width: 900px;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
  background-color: #849d8f;
}
.container {
  box-sizing: content-box;
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 2.3%;

}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.btn-white {
  display: block;
  padding: 7px 10px 7px 14px;

  line-height: 18px;
  color: #ffffff;
}
.btn-white:hover {
  text-decoration: none;
  color: #323232;

  background-color: #f7f6f3;
  border-radius: 20px;
}
.btn-white:active {
  text-decoration: none;
  color: #323232;

  border-radius: 20px;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  cursor: pointer;
}
.btn-red {
  padding: 10px 20px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-red:hover {
  background-image: -webkit-linear-gradient( left, rgb(245,134,105) 0%, rgb(236,111,94) 100%);
  background-image: linear-gradient( 90deg, rgb(245,134,105) 0%, rgb(236,111,94) 100%);
}
.btn-red:active {
  background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}
.link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.link:hover {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.input-style {
  width: 100%;
  height: 42px;
  padding-left: 14px;

  border-radius: 10px;
  border: 1px solid #d3d3d2;
  outline: none;
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 24px;
}
.label-style {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  pointer-events: none;
}
.input-style:hover {
  border: 2px solid #9a9a9a;
}
.input-style:focus {
  border: 2px solid #2e88e4;
}
.input-style:focus + label {
  color: #5b9ddf;
  font-size: 11px;
  line-height: 13px;
  top: 5px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/*Gllacy INDEX*/

/*INDEX-SLIDES*/
.index {
  position: relative;
}
.index .site-wrapper {
  position: absolute;
  z-index: -5;
  left: 0;
  right: 0;

  min-width: 940px;
  height: 100%;
}
.index input[name="toggle"] {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}
.slider-bar {
  text-align: center;
  margin-bottom: 41px;
}
.slider-bar .btn-red {
  display: inline-block;
  vertical-align: top;
  padding: 10px 41px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 30px;
}
.slider-controls {
  position: absolute;
  top: 563px;
}
.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 7px;

  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}
.slider-controls label:active {
  background-color: #ffffff;
}
.slide {
  display: none;
}
#slide-btn1:checked ~ header .slide1,
#slide-btn2:checked ~ header .slide2,
#slide-btn3:checked ~ header .slide3 {
  display: block;
}
#slide-btn1:checked ~ header label[for="slide-btn1"],
#slide-btn2:checked ~ header label[for="slide-btn2"],
#slide-btn3:checked ~ header label[for="slide-btn3"] {
  background-color: #ffffff;
}

#slide-btn1:checked ~ .site-wrapper {
  background: url(../img/icecream1.png) no-repeat top center;
}
#slide-btn2:checked ~ .site-wrapper {
  background: #8996a6 url(../img/icecream2.png) no-repeat top center;
}
#slide-btn3:checked ~ .site-wrapper {
  background: #9d8b84 url(../img/icecream3.png) no-repeat top center;
}
/*HEADER INDEX*/

.header-logo {
  float: left;
  width: 154px;
  margin-top: 9px;
  margin-right: 12px;
}
.header-logo img {
  display: block;
}
/*NAVIGATION-MENU*/

.main-navigation {
  float: left;
  margin-top: 23px;
}
.main-menu {
  margin: 0;
  padding: 0;
  max-width: 420px;
}
.main-menu > li {
  display: inline-block;
  padding-bottom: 15px;

  vertical-align: baseline;
}
.navigation-catalog {
  position: relative;
}
.main-menu > li:hover .sub-menu {
  display: block;
}
.main-menu span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}
.main-menu .btn-white {
  text-decoration: none;
}
.sub-menu {
  position: absolute;
  left: -7px;
  top: 37px;
  z-index: 3;

  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.sub-menu li {
  list-style: none;
}
.sub-menu li:first-child {
  border-bottom: 1px solid #d1d0ce;
}
.sub-menu a {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 21px;

  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: normal;
}
.sub-menu a:first-child {
  font-weight: bold;
}
.sub-menu a:last-child {
  margin-bottom: 0;
}
.sub-menu a:not(.on-page):hover {
  background-color: #fbded7;
}
.sub-menu a:not(.on-page):active {
  background-color: #f6b5a5;
}
/*USER-BLOCK*/

.user-block {
  position: relative;

  float: right;
  max-width: 266px;
  margin-top: 23px;
}
.user-block > div:not(.hiden-products) {
  display: inline-block;
  vertical-align: top;
}
.user-block a {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;

  font-size: 0;
}
.user-block a:first-child {
  margin-left: 5px;
}
.header-search {
  position: relative;

  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.header-search:hover {
  background-color: #f8f7f4;
}
.header-search::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;

  width: 17px;
  height: 17px;

  background: url(../img/sprite.png) no-repeat;
  background-position: -42px -304px;
}
.header-search:hover::before{
  background-position: -42px -282px;
}
.user-block .header-login {
  position: relative;

  padding: 8px 16px 8px 44px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.header-login:hover {
  color: #323232;

  background-color: #f8f7f4;
}
.header-login::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 6px;

  width: 21px;
  height: 19px;

  background: url(../img/sprite.png) no-repeat;
  background-position: -31px -455px;
}
.header-login:hover::before {
  background-position: -5px -455px;
}
.user-block .header-basket {
  position: relative;

  padding: 8px 32px 9px 45px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.header-basket::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 6px;

  width: 21px;
  height: 20px;

  background: url(../img/sprite.png) no-repeat;
  background-position: -5px -430px;
}

/*HIDEN LOGIN&SEARCH*/

.search-container {
  position: relative;
  padding-bottom: 4px;
}
.search-container:hover > .hiden-search {
  display: block;
}
.hiden-search {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 341px;
  padding: 20px 15px;

  border-radius: 10px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}
.hiden-search label {
  position: absolute;
  top: 30px;
  right: 260px;

  width: 80px;
}
.login-container {
  position: relative;
  padding-bottom: 4px;
}
.login-container:hover > .hiden-login {
  display: block;
}
.hiden-login {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 2;

  display: none;
  width: 277px;
  padding: 20px 17px 21px 19px;

  border-radius: 10px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.hiden-login input {
  margin-bottom: 20px;
}
.login-hint {
  position: absolute;
  top: 30px;
  left: 34px;

  width: 130px;
}
.password-hint {
  position: absolute;
  top: 91px;
  left: 34px;

  width: 130px;
}
.hiden-login .input-style:nth-of-type(2):focus + label {
  top: 67px;
}
.hiden-login .btn-red {
  float: left;
  padding: 10px 25px;
  margin-right: 20px;
}
.login-registration-block {
  float: left;
  width: 120px;
}
.login-registration-block a {
  text-decoration: none;
  margin: 0;
}
.login-registration-block span {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  border-bottom-color: rgba(50, 50, 50, 0.3);
}

/*WORKING-TIME*/

.index-working-hours {
  display: block;
  width: 180px;
  margin-bottom: 273px;
  margin-left: auto;

  text-align: right;
}
.working-time {
  display: block;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
}
.header-number {
  font-size: 22px;
  line-height: 24px;
}
/*MAIN INDEX*/

/*BANNERS*/

.banners {
  margin-bottom: 40px;
}
.banners-first {
  position: relative;

  float: left;
  width: 48.9%;
  min-height: 230px;
  padding-left: 20px;
  padding-right: 21px;

  background: #732837 url("../img/banner-raspb.jpg") no-repeat 100% 51%;
  border-radius: 15px;
  box-sizing: border-box;
}
.banners-second {
  position: relative;

  float: right;
  width: 48.9%;
  min-height: 230px;
  padding-left: 20px;
  padding-right: 21px;

  background: #41271b url("../img/banner-chock.jpg") no-repeat 0% 46%;
  border-radius: 15px;
  box-sizing: border-box;

}
.banners-tagline {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 13px;

  line-height: 41px;
  font-size: 35px;
}
.banners-promo {
  margin-top: 0;

  font-size: 18px;
}
.banners a {
  position: absolute;
  bottom: 24px;
  right: 21px;

  float: right;
  padding: 10px 23px;
}

/*HITS-ICECREAM*/

.index .cremy-item-layout::before {
  content: "";
  position: absolute;
  z-index: 1;

  width: 61px;
  height: 61px;

  background: url(../img/sprite.png) no-repeat;
  background-position: -5px -0px;
  border-radius: 50%;
}
.price {
  position: absolute;
  bottom: 87px;

  margin: 0;

  font-size: 45px;
  line-height: 45px;
}
.price-low {
  font-size: 25px;
}
/*GLLACY ABOUT*/

.gllace-about{
  position: relative;
  z-index: -2;

  width: 100%;
  margin-bottom: 42px;
  padding: 25px 25px 25px 22px;

  color: #323232;

  box-sizing: border-box;
  background: #ede1c8 url(../img/pattern1.jpg);
  border-radius: 15px;
}
.gllace-about h2 {
  margin-top: 0;
  margin-bottom: 21px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.gllace-about p {
  position: relative;

  float: left;
  width: 48.4%;
  margin: 0;
  padding-left: 56px;
/*  min-height: 87px;
*/
  box-sizing: border-box;
  font-weight: normal;
}
.gllace-about p::before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;

  width: 49px;
  height: 49px;

  background-image: url(../img/sprite.png);
}
.gllace-about p:nth-of-type(1):before {
  background-position: -5px -66px;
}
.gllace-about p:nth-of-type(2):before {
  background-position: -5px -174px;
}
.gllace-about p:nth-of-type(3):before {
  background-position: -5px -120px;
}
.gllace-about p:nth-of-type(4):before {
  background-position: -5px -228px;
}
.gllace-about p:nth-of-type(2n-1) {
  margin-right: 3.1%;
}
.gllace-about p:nth-child(-n+3) {
  margin-bottom: 25px;
}
/*GLLACY BLOG*/

.blog-news {
  float: left;
  width: 49.1%;
  min-height: 220px;
  padding-left: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;

  background: #ffffff url("../img/blog-strawberry.jpg") no-repeat;
  background-position: 100% 39%;
  border-radius: 15px;
}
.blog-news p {
  margin-top: 22px;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}
.blog-news h2 {
  width: 300px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.blog-news a {
  color: #353535;

  background-color: rgba(255, 255, 255, 0.8);
}
.delivery {
  float: right;
  width: 48.6%;
  padding: 5px;

  box-sizing: border-box;
  background: #f8f7f4 url("../img/pattern2.png");
  border-radius: 15px;
}
.delivery-layer {
  min-height: 210px;
  padding: 30px 20px 30px 21px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  box-sizing: border-box;
  border-radius: 15px;
}
.delivery p {
  margin: 0;
  min-height: 85px;
  margin-bottom: 15px;

  font-weight: normal;
}
.delivery form {
  position: relative;

  padding-right: 140px;
}
.delivery input {
  width: 100%;
  height: 44px;
}
.delivery .label-style {
  position: absolute;
  top: 10px;
  left: 10px;
}
.delivery .input-style:focus + label {
  top: -13px;
}
.delivery .btn-red {
  position: absolute;
  right: 0;
  top: 0;

  margin-left: 11px;
  padding: 10px 18px;
}

/*MAP LAYOUT*/

.map-block {
  height: 430px;
  margin: 0 auto;

  background: url("../img/map.jpg") no-repeat;
  background-position: 50% 51%;
}
.map-block iframe {
  width: 100%;
}
.map {
  position: relative;
}
.feedback {
  position: absolute;
  top: 62px;
  right: 2.3%;

  box-sizing: border-box;
  width: 302px;
  padding: 30px 25px;

  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  background-color: #fffffe;
  border-radius: 5%;
}
.feedback p {
  margin: 0;
}
.feedback strong {
  font-size: 18px;
  line-height: 24px;
}

.feedback p:nth-child(2) {
  margin-bottom: 19px;
}
.feedback p:nth-child(3) {
  margin-bottom: 5px;
}
.feedback p:nth-child(4) {
  margin-bottom: 1px;
}
.feedback p:nth-child(5) {
  margin-bottom: 24px;
}
.feedback a {
  display: block;
  padding: 10px 28px;
}

/*INDEX FOOTER*/

.main-footer {
  text-align: center;
}
/*SOCIAL BLOG*/

.social-block {
  float: left;
  margin-top: 36px;
  max-width: 220px;

  text-align: left;
  font-size: 0;
}
.social-block a {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
  width: 32px;
  height: 32px;

  background: url(../img/sprite.png) no-repeat;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social-block a:last-child {
  margin-right: 0;
}
.social-block a:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}
.social-block a:active {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.4);
}
.social-block .btn-tw {
  background-position: -5px -356px;
}
.social-block .btn-inst {
  background-position: -5px -319px;
}
.social-block .btn-fb {
  background-position: -5px -282px;
}
.social-block .btn-vk {
  background-position: -5px -393px;
}

/*helpful-information*/

.helpful-information {
  display: inline-block;
  vertical-align: top;
  width: 324px;
  margin-top: 34px;
  padding: 0;
  padding-left: 22px;

  text-align: left;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}
.helpful-information li {
  display: inline-block;
  vertical-align: top;
}
.helpful-information li:nth-child(2n-1) {
  width: 43%;
}
.helpful-information li:nth-child(-n+2) {
  margin-bottom: 4px;
}
.helpful-information li:last-child {
  margin-right: 0;
}
.helpful-information a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.helpful-information .information-for-produser {
  position: relative;
  font-weight: bold;
}
.helpful-information .information-for-produser:after {
  content: "";
  position: absolute;
  left: -22px;
  top: 3px;

  width: 15px;
  height: 13px;

  background: url(../img/sprite.png) no-repeat;
  background-position: -42px -326px;
}
.helpful-information a:hover {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}

.copyright {
  float: right;
  margin-top: 19px;
  max-width: 200px;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #fefefe;
  text-align: right;

}
.copyright img {
  display: block;
  margin-bottom: 4px;
  padding-right: 80px;
}
.copyright p {
  margin: 0;
  margin-bottom: 25px;
}
.copyright a {
  color: #fefefe;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.copyright a:hover {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}

/*INDEX-POPUP*/

.popup-layout {
  position: absolute;

  display: none;
  min-width: 940px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}
@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.popup-layout-block {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.index-popup {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 478px;
  margin-left: -239px;
  margin-top: -221px;
  padding: 18px 25px 27px 24px;

  background-color: #f8f7f4;
  border-radius: 20px;
}
.index-popup p {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}
.cross {
  position: absolute;
  top: 14px;
  right: 16px;

  width: 18px;
  height: 18px;
  border: 0;

  background-color: transparent;
  outline: none;
  font-size: 0;
  cursor: pointer;
}
.cross::before,
.cross::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 8px;

  width: 22px;
  height: 2px;

  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.index-popup .input-style {
  margin-bottom: 20px;
}
.index-popup .label-style {
  position: absolute;
  top: 75px;
  left: 39px;
}
.index-popup .input-style {
  width: 267px;
}
.index-popup .label-style:nth-of-type(2) {
  top: 138px;
}
.index-popup .label-style:nth-of-type(3) {
  top: 205px;
}
.index-popup .popup-input-offers {
  top: 205px;
  width: 100%;
  height: 155px;
  resize: none;
}
.index-popup .popup-input-name:focus + label {
  top: 52px;
}
.index-popup .popup-input-email:focus + label {
  top: 115px;
}
.popup-layout .popup-input-offers:focus + label {
  top: 177px;
}
.index-popup .popum-btn-layout {
  text-align: right;
}
/*GLLACY CATALOG*/

/*GLLACY CATALOG HEADER*/
.main-menu-catalog {
  padding: 7px 12px;

  border-radius: 15px;
  background-color: #d07058;
}
.catalog .sub-menu li:nth-child(2) {
  background-color: #d07058;
}
/*HIDEN HEADER*/

.catalog .header-basket {
  padding: 8px 16px 9px 44px;
  background: #f8f7f4;
  color: #323232;
}
.catalog .header-basket::before {
  background-position: -31px -430px;
}
.basket-container {
  padding-bottom: 10px;
}
.catalog .basket-container:hover > .hiden-products {
  display: block;
}
.hiden-products {
  position: absolute;
  z-index: 2;
  top: 36px;
  right: 0;

  display: none;
  width: 540px;
  padding-top: 15px;
  padding-left: 17px;
  padding-right: 15px;
  padding-bottom: 15px;

  background-color: #f8f7f4;
  border-radius: 10px;
  color: #323232;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.hiden-products-table {

  margin-bottom: 10px;
  border-collapse: collapse;
}
.hiden-products-table td  {
}
.hiden-products-table button {
  position: relative;

  width: 11px;
  height: 11px;
  border: 0;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 5px;

  font-size: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.hiden-products-table button::before,
.hiden-products-table button::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 5px;
  width: 14px;
  height: 1px;
  background-color: #353535;
}
.hiden-products-table button::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hiden-products-table button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hiden-products-table img {
  display: block;
  width: 33px;
  height: 33px;

  border-radius: 50%;
}
.hiden-products-table p {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}
.hiden-products-table span {
  color: #999999;
}
.hiden-products-table td:nth-child(3) {
  width: 220px;
  padding: 15px 30px 15px 14px;
}
.hiden-products-table td:nth-child(4) {
  padding-right: 35px;
}
.hiden-products-table tr:last-child > td {
  border-bottom: 1px solid #cacac7;
}
.final-price {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 12px;
}
.btn-box {
  text-align: right;
}
/*WORKING HOURS*/

.catalog-working-hours {
  width: 170px;
  margin-left: auto;

  text-align: right;
}
.breadcrumbs {
  float: left;
  width: 267px;
}
.breadcrumbs ul {
  margin-top: 21px;
  margin-bottom: 5px;
  padding: 0;
}
.breadcrumbs li {
  position: relative;

  display: inline-block;
  margin-right: 4px;
  padding-right: 14px;
  vertical-align: top;
}
.breadcrumbs li:nth-child(-n+2)::after {
  content: "»";
  position: absolute;
  right: 0;
}
.breadcrumbs a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

/*MAIN*/

.catalog-main-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
}

/*PRICE-SORT*/

.price-sort {
  float: left;
  width: 193px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 16px;
  margin-bottom: 13px;
}
.price-sort legend {
  margin-bottom: 7px;
  padding-left: 13px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.price-sort select {
  width: 193px;
  height: 36px;
  padding-left: 14px;
  border: none;

  color: #ffffff;

  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgba(248,247,244, 0.2);
  outline: none;
}
.price-sort select:hover {
  color: #323232;

  background-color: #ffffff;
  cursor: pointer;
}
.price-sort select:focus {
  color: #323232;

  background-color: #ffffff;
}

/*PRICE-RANGE*/

.price-range {
  float: left;
  width: 218px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 18px;
}
.price-range legend {
  margin-bottom: 7px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.range-layout {
  position: relative;
  height: 36px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.range-slider-left::before {
  content: "";
  position: absolute;
  left: 34px;
  top: 8px;
  z-index: 1;

  width: 20px;
  height: 20px;

  background-color: #f8f7f4;
  border-radius: 50%;
}
.range-slider-left:hover::before {
  left: 33px;
  top: 7px;
  border: 2px solid #f8f7f4;
  cursor: pointer;
}
.range-slider-right::before {
  content: "";
  position: absolute;
  right: 65px;
  top: 8px;
  z-index: 1;

  width: 20px;
  height: 20px;

  background-color: #f8f7f4;
  border-radius: 50%;
}
.range-slider-right:hover::before {
  right: 63px;
  top: 7px;

  border: 2px solid #f8f7f4;
  cursor: pointer;
}
.range-strip::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 16px;

  width: 188px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}
.range-strip::after {
  content: "";
  position: absolute;
  left: 54px;
  top: 16px;

  width: 78px;
  height: 4px;

  background-color: #f8f7f4;
}
.fat-range {
  float: left;
  width: 415px;
  margin: 0;
  padding: 0;
  border: 0;
}
.fat-range legend {
  margin-bottom: 7px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.fat-layout {
  padding: 7px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.fat-layout label {
  position: relative;

  padding-left: 30px;
  margin-right: 16px;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  cursor: pointer;
}
.fat-layout label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;

  width: 18px;
  height: 18px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
  box-sizing: border-box;
}
.main-filter input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4.8px;
  width: 10px;
  height: 10px;
  background-color: #f8f7f4;
  border-radius: 50%;
}
.fat-layout label:hover::before {
  border-width: 2px;
}
.fat-layout label:last-child {
  margin-right: 0;
}
.fat-layout input {
  display: none;
}
.filler {
  float: left;
  width: 702px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 16px;
  margin-bottom: 42px;
}
.filler legend {
  margin-bottom: 7px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.filter-layout {
  padding: 7px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.filter-layout label {
  position: relative;

  padding-left: 31px;
  padding-right: 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.filter-layout label:last-child {
  padding-right: 0;
}
.filter-layout label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;

  width: 20px;
  height: 20px;

  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.filter-layout label:hover::before {
  border-width: 2px;
}
.main-filter input[name="filler-item"]:checked + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 6px;

  width: 12px;
  height: 10px;

  background: url(../img/sprite.png) no-repeat -0px -479px;
}
.filter-layout input {
  display: none;
}
.main-filter a {
  float: left;
  margin-top: 24px;
  padding: 8px 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
.main-filter a {
  color: inherit;
  text-decoration: none;
}
.main-filter a:hover {
  background-color: #ffffff;
  color: #323232;
}
.main-filter a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}

/*CREMY-ITEM*/

.cremy-item {
  position: relative;
  margin: 0;
  padding: 0;
}
.cremy-item-layout {
  position: relative;
}
.cremy-item li {
  position: relative;

  float: left;
  width: 23.35%;
  margin-left: 1.1%;
  margin-right: 1.1%;
  min-height: 310px;

  list-style: none;
}
.cremy-item li:nth-child(4n) {
  margin-right: 0%;
}
.cremy-item li:nth-child(4n+1) {
  margin-left: 0%;
}
.cremy-item li:nth-child(4n):hover {
  margin-right: -1.1%;
}
.cremy-item li:nth-child(4n+1):hover {
  margin-left: -1.1%;
}
.cremy-item li:hover {
  z-index: 2;

  padding-bottom: 37px;
  padding-top: 10px;
  padding-left: 1.1%;
  padding-right: 1.1%;
  margin-bottom: -37px;
  margin-top: -10px;
  margin-left: 0;
  margin-right: 0;

  background-color: rgba(248, 247, 244, 0.3);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.cremy-item li:hover .link {
  border-bottom: none;
}
.cremy-item img {
  position: relative;

  display: block;
  height: 100%;
  width: 100%;
  margin-bottom: 12px;

  border-radius: 50%;
}
.cremy-item .price {
  bottom: 28%;
  left: 2%;
}
.cremy-item .link {
  position: relative;
}
.cremy-item .link-blog {
  display: block;
  padding: 0 5px;

  min-height: 82px;

  text-align: center;
  text-decoration: none;
  font-weight: 500;
}
.cremy-item .link-blog-padding {
  padding: 0;
}
.cremy-item .btn-red {
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 1;

  display: none;
  width: 200px;
  margin-left: -100px;
  margin-top: -66px;
  padding: 10px 0;

  text-align: center;
}
.cremy-item li:hover .btn-red {
  display: block;
}

/*CAtALOG-PAGES*/

.catalog-pages {
  float: right;
  max-width: 267px;
  margin-top: 44px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.catalog-pages a {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.pages,
.first-page {
  padding: 4px 8px;

  text-decoration: none;
  color: #ffffff;
}
.pages:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.pages:active,
.first-page {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}
.page-prev,
.page-next {
  width: 9px;
  height: 14px;
  margin-top: 2px;

  font-size: 0;
  background: url("../img/sprite.png") no-repeat;
  background-position: -0px -489px;
}
.page-prev {
  opacity: 0.2;
  margin-right: 10px;
}
.page-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 10px;
}
.catalog main::after {
  content: "";
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/*BACKLIGHT-CATALOG*/

.catalog::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;

  min-width: 940px;
  height: 656px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) top center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) top center;
  opacity: 0.2;
}
